 

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link " href="index.html">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-heading">Pages</li>
        <!--{{-- dd(auth()->user()->role) --}}
          @can('admin')
      {{-- @if(getMainRoleName() == "rh")--}}-->
      <li class="nav-item" *ngIf="authService.hasRole('admin')">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Personnels</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#nav-item">
         <!-- {{-- <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>Utilisateurs</span>
            </a>
          </li> --}}-->
          <li>
            <a routerLink="/personnels">
              <i class="bi bi-circle" ></i><span>liste</span>
            </a>
          </li>
        </ul>
      </li>
        <li class="nav-item2" *ngIf="authService.hasRole('rh')">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Formations</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#nav-item2">
            <li>
              <a routerLink="/categories">
                <i class="bi bi-circle" ></i><span>domaine de formation</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-circle"></i><span>thèmes</span>
              </a>
            </li>
            <li>
              <a routerLink="/formateurs">
                <i class="bi bi-circle" ></i><span>formateurs</span>
              </a>
            </li>
            <li>
              <a routerLink="/cabinets">
                <i class="bi bi-circle" ></i><span>cabinets externes</span>
              </a>
            </li>
          </ul>
        </li><!-- End Components Nav {{route('cabinets.index')}} {{route('formateurs.index')}} {{route('formations.index')}} {{route('categories.index')}} {{ route('personnels.index') }} {{ route('personnes.index') }}-->
        <!--{{-- @endif--}}
        @endcan
        @can('enseignant')-->
        <li class="nav-item3" *ngIf="authService.hasRole('rh')">
            <a class="nav-link collapsed" data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
              <i class="bi bi-menu-button-wide"></i><span>Séances</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav2" class="nav-content collapse " data-bs-parent="#nav-item3">
              <li>
                <a routerLink="/seances">
                  <i class="bi bi-circle" ></i><span>planifier une séance</span>
                </a>
              </li>
            </ul>
        </li><!-- End Components Nav {{route('tests.index')}}-->
        <li class="nav-item4" *ngIf="authService.hasRole('admin')">
            <a class="nav-link collapsed" data-bs-target="#components-nav3" data-bs-toggle="collapse" href="#">
              <i class="bi bi-menu-button-wide"></i><span>Statistiques</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav3" class="nav-content collapse " data-bs-parent="#nav-item4">
              <li>
                <a routerLink="/statistiques">
                  <i class="bi bi-circle" ></i><span>visualisation des données</span>
                </a>
              </li>
            </ul>
        </li><!-- End {{route('statistiques.index')}}-->
         <!-- @endcan-->

    <!--</li> End Forms Nav -->
      </ul>

</aside><!-- End Sidebar-->


































